.rws-underline {
  border-bottom: 1px solid black;  
}

.rws-background-color {
  background-color: lightgrey;
  padding: 4px;
}

.rws-adjust-for-background-color {
  padding: 4px;
}

.rws-bold {
  font-weight: bold;
  margin-bottom: 2px !important;  
}

.rws-subject {
  margin-bottom: 10px;
  font-size: 17px;
}

.rws-content {
  font-size: 13px; 
}

.rws-background-white {
  background-color: white;
}

.rws-background-lightgrey {
  background-color: #F0F0F0;    
}

.rws-corner-sharp {
  border-radius: 0;
}

.rws-corner-round {
  border-radius: 15px;
}

.rws-container {
  padding: 20px;
}
